.market_favourite_header_spot{
    background: #3e0b4a;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
    }
    
    .favourite_head_spot img {
        position: relative;
        left: 28px;
        top: 6px;
    }
    .round_icon_spot {
        position: absolute;
        left: 50px;
        top: 0px;
    }
    .search_header_spot{
    position: absolute;
    z-index: 1000;
    }
    .favourite_head_spot{
        padding-top: 30px;
    }
    .search_header_spot input{
    background-color: #5B2963;
    width: 267px;
     padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 40px;
    color: white;
    
    }
    .favourites_spot_future_flex_spot {
    display: flex;
    padding-left: 35px;
    font-size: 12px;
    font-family: Poppins;
    Line-height: 21px;
    color: #725F7D;
    padding-top: 10px;
    margin-top: 35px;
    gap: 35px;
    }
    .favourites_spot,
    .spot_spot,
    .futures_spot
    {
    justify-content: center;
    text-align: center;
    }
    .last_price_spot_1{
        width: 33%;
    }
    .active{
        width: 80px;
        background-color: #8B35A0;
        color: white;
        padding: 3px;
        border-radius: 6px;
    }
    .active_spot{
        border-bottom:  Solid
        #CC6200;
       
    }
    .last_price_spot{
        width: 25%;
        white-space: nowrap;
    }
    .name_last_flex_spot h3{
    color: #725F7D;
    gap: 30px;
    padding-left: 35px;
    font-size: 14px;
    padding-top: 20px;
    }
    .name_last_flex_spot {
        display: flex;
        bottom: 10px;
        position: relative;
    }
    .spot_flex {
    display: flex;
    padding-left: 35px;
    gap: 30px;
    padding-top: 5px;
    color: #725F7D;
    }
    .name_last_spot{
    height: 80px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    /* background-color: white; */
    width: 100%;
    }
    .round_icon_1_spot{
        position: absolute;
        bottom: 0;
        right: 50px;
    }
    .last_price_2_spot h3{
        color: #00941D;
    }
    .last_price_3_spot h3{
        color: red;
    }
    .last_price_3_spot{
        width: 28%;
    }
    .name_vol_spot{
        width: 30%;
    }
    .name_vol_1_spot{
        width: 25%;
        white-space: nowrap;
    }
    .name_vol_1_spot_3{
        width: 38%;
        white-space: nowrap;
    }
  
    .last_price_1_spot_2{
        color: #00941D;

    }
    .name_last_flex_1_spot {
    display: flex;
    color: white;
    gap: 44px;
    padding-left: 35px;
    font-size: 11px;
    position: relative;
    bottom: 5px;
    }
    .name_last_flex_2_spot{
    display: flex;
    color: white;
    /* gap: 35px; */
    padding-left: 35px;
    font-size: 11px;
    position: relative;
    bottom: 5px;
    margin-top: 3px;
    }
    .spaner_spot{
    color: #725F7D;
    }
    .span_block_spot {
        display: block;
        position: relative;
        right: 6px;
        color: #725F7D;
        bottom: 6px;
    }
    .future_val_1_spot h3{
    border-radius: 4.37px;
    width: 66px;
    padding: 7px;
    background-color: #00941D;
    justify-content: center;
    text-align: center;
    }
    .future_val_2_spot h3{
    border-radius: 4.37px;
    width: 66px;
    padding: 7px;
    background-color: red;
    justify-content: center;
    text-align: center;
    }
    .ten_spot {
        color: #CC6200;
        background-color: #27202A;
        font-size: 9px;
        padding: 2px 3px;
        border-radius: 3px;
        margin: 3px;
    }
    .last_price_2_spot_3{
        width: 28%;
    }
    .name_vol_3{
        width: 38%;
    }
