.market{
    padding: 0px;
    margin-top: 0;
    z-index: 10px;
}
.market-container{
    color: #7f638f;
    font-size: 11.4px;
    font-weight: 900;
}
.favourite_head img {
    position: relative;
    left: 28px;
    top: 6px;
}
.round_icon {
    position: fixed;
    background: linear-gradient(163.36deg, rgba(187, 75, 215, 0.1) 11.51%, rgba(163, 161, 161, 0) 77.53%);
    right: -70px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 0px;
    z-index: -5;
}

.search_header{
    margin: 20px;
    background-color: #5B2963;
    display: flex;
    border-radius: 8px;
}
.search_header img{
    margin-left: 5px;
    width: 15px;
}


.search_header input{
width: 282px;
background: none;
 padding: 10px;
border: none;
outline: none;
padding-left: 40px;
color: white;
}

.market-routes {
margin: 0;
padding: 0px;
}
.market-routes-container{
    display: flex;
    gap: 2px;
}
.market-route-content{
    width: 100%;
    text-align: center;
}
.market-route-content a{
    color: #7f638f;
    font-size: 13px;
    font-weight: 900;
    Line-height: 21px;
}
.market-routes-container .market-route-content a.active{
    background: rgba(139, 53, 160, 1);
    padding: 5.6px 20px;
    color: #fff;
    border-radius: 8px;
}
.Market-contents-display{
        padding: 0;
        margin: 0;
        margin-top: 20px;
        background: linear-gradient(180deg, rgba(199, 0, 248, 0.0819) 0%, rgba(34, 5, 41, 0.13) 100%);
         border-radius: 29px 29px 0px 0px;
}

.market-favourite{
    color:  rgba(114, 95, 125, 1);
    font-size: 10px;
    padding: 10px;
}
.market-favourite-header{
    display: flex;
    font-size: 8.4px;
    font-weight: 800;
    gap: 2px;
}
.market-favourite-header-contents{
    width: 100%;
    text-align: center;
}
.market-favourite-container{
    margin: 13px 0px;
    padding: 5px;
    font-size: 11px;
}
.market-favourite-contents{
    display: flex;
  text-align: center;
  margin-bottom: 10px;

}
.market-favourite-content{
    width: 100%;
}
.market-favourite-content h3{
   color: #fff;
   font-size: 12px;
   font-weight: bold;
}
.market-favourite-content span{
    color: #7f638f;
    font-size: 10px;
    font-weight: bold;
 }
 .market-favourite-content .positive{
    background: rgb(8, 219, 61);
    border-radius: 8px;
    margin: 0px 20px;
    color: white;
    padding: 5.3px 10px;
 }

 .market-favourite-content .negative{
    background: rgb(219, 8, 8);
    border-radius: 8px;
    margin: 0px 20px;
    color: white;
    padding: 5.3px 10px;
 }
 .home-main-trade-first-inner-flex1 .negative{
    background: rgb(219, 8, 8);
    border-radius: 8px;
    margin: 0px 20px;
    color: white;
    padding: 5.3px 10px;
 }

 .home-main-trade-first-inner-flex1 .positive{
    background: rgb(8, 219, 61);
    border-radius: 8px;
    margin: 0px 20px;
    color: white;
    padding: 5.3px 10px;
 }

 .market-spot{
    font-size: 13px;
    color:  rgba(114, 95, 125, 1);
 }
.market-spot-route-container{
    display: flex;
    text-align: center;
    gap: 20px;
    margin: 0px 20px;
    font-size: 12px;
}

.market-spot-route-content{
    padding-top: 10px;
    font-weight: bold;
}
.market-spot-route-content .active{
    border-bottom: 1px solid rgb(226, 201, 8);
    width: 100%;
    padding-top: 0px;
    font-weight: bold;
    margin: 0px 0px;
    width: fit-content;
}

.market-spot-header-container{
    display: flex;
    font-size: 8.4px;
    font-weight: 800;
    gap: 2px;
    margin-top: 10px;
    padding-bottom: 0px;
}
.market-spot-header-content{
    width: 100%;
    text-align: center;
}