@media only screen and (max-width: 676px) {
    .asset-main-page{
        background: linear-gradient(196.08deg, #86228E 0.63%, #240426 76.25%);
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .backarrw-div{
        padding: 20px;
    }
    .asset-page-select{
        margin: auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 60px;
    }
    .asset-page-select a{
        color: #999999;
    }
    .asset-page-select a.active{
        color: #FFFFFF;
    }
    .asset-page-select div{
        font-size: 11px;
        color: #878787;
    }
}

